.place__title {
    grid-area: place__title;
    width: 100%;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    color: white;
    text-decoration: none;
    align-self: end;
}

@media (max-width: 1024px) {
    .place__title {
        font-size: 7.5vw;
        line-height: 1.1;
    }
}

@media (max-width: 768px) {
    .place__title {
        font-size: 42px;
    }
}

@media (max-width: 425px) {
    .place__title {
        font-size: 32px;
    }
}
