.intro__list {
    margin: 0 0 0 148px;
    padding: 32px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: white;
    list-style: none;
    width: 50%;
}
@media (max-width: 1024px) {
    .intro__list {
        margin-left: 48px;
    }
}

@media (max-width: 768px) {
    .intro__list {
        margin: 0 auto 0;
        width: 90%;
    }
}

@media (max-width: 425px) {
    .intro__list {
        margin: 0 auto 0;
        width: 90%;
    }
}

