@import url('./__image/place__image.css');
@import url('./__link/place__link.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__title/place__title.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__website/place__website.css');

.place {
    position: relative;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: auto auto;
    grid-gap: 48px 40px;
    grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph";
}


@media (max-width: 1024px) {
    .place {
        grid-template-columns: 1fr 1.05fr;
        grid-gap: 48px 32px;
    }
}


@media (max-width: 768px) {
    .place {
        grid-template-columns: 1fr 1.05fr;
        grid-gap: 48px 28px;
    }
}

@media (max-width: 425px) {
    .place {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "place__title"
        "place__image"
        "place__paragraph";
        grid-gap: 32px;
    }
}

