@import url('./__copyright/footer__copyright.css');
@import url('./__link/footer__link.css');
@import url('./__link-box/footer__link-box.css');

.footer {
    margin: 92px auto 24px;
    color: white;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer {
        width: 90%;
    }
}

@media (max-width: 425px) {
    .footer {
        width: auto;
        margin-left: 16px;
        margin-top: 88px;
        flex-flow: column wrap;
    }
}
